<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crisis Pregnancy Centers</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="bg-gray-100 text-gray-900">

<!-- Include Navbar Partial -->
<%- include('partials/navbar') %>

<!-- Main Content -->
<div class="grid grid-cols-12 py-12 pt-32 md:py-36 relative pb-20 md:pb-36 md:pt-56 block bg-[#001524] text-gray-50">
    <div class="col-centered tracking-wide uppercase md:px-0 px-4 col-span-12 text-4xl md:text-6xl font-extrabold text-center">
        <div class="text-center col-centered">
            Anti-Choice Directory
        </div>
        <div class="px-2 md:px-2 md:px-2 md:px-8 max-w-6xl mx-auto">
            <div class="normal-case tracking-normal font-bold mt-4 text-lg md:text-xl">
                We aim to stop dishonest Canadian charities and organizations from restricting a woman’s access to the
                reproductive care that is best for her.
                Check this directory to find out if the organization you are considering provides the services you need.
            </div>
            <div class="mt-4">
                <a href="#search_orgs">
                    <div class="text-2xl hover:scale-110 tracking-wide cursor-pointer shadow-md duration-200 border-[#D6CC99] hover:bg-[#D6CC99] text-[#D6CC99] hover:text-[#001524] p-4 px-6 border-4 inline-block rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
                             stroke="currentColor" class="relative z-10 -top-0.5 inline-block w-8 h-8">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"></path>
                        </svg>
                        Search
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="search_orgs">
    <div class="bg-[#fff] w-full border-t-8 pb-20 lg:pb-28 px-4 py-10 lg:px-20 lg:py-28">
    <div class="px-2 md:px-2 md:px-8 max-w-7xl" style="margin-left: auto;margin-right: auto;">
        <div class="text-5xl md:text-7xl uppercase font-extrabold text-[#001524]">SEARCH ORGS</div>
        <div class="h-4 w-32 mt-2 mb-2 block bg-[#2A9D8F]"></div>
        <div class="text-xl md:text-2xl mt-8 mb-8 text-[#001524] font-bold">
            If you are seeking pro-choice reproductive support, you may want to avoid organizations listed in the
            AntiChoice Canada website.
            Click to learn more about an organization or charity's known affiliations, anti-choice messaging, and
            previous campaigns.
        </div>
        <div class="search-wrapper">
            <input id="search-input" style="border-width:6px;" oninput="checkIfEmpty()" type="text"
                   placeholder="Search anti-choice groups..."
                   class="duration-200 ease focus:bg-[#001524] focus:text-[#D6CC99] search-input text-xl md:text-3xl tracking-wide focus:outline-[#001524] focus:border-[#001524] focus:placeholder-[#001524] font-extrabold w-full p-5 py-5 rounded-full border-[#001524] text-[#001524] bg-transparent">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
                 stroke="currentColor" class="search-icon-2 w-10 h-10">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"></path>
            </svg>
        </div>
        <div id="cancel-search" class="hidden">
            <div onclick="clearSearch()"
                 class="inline-block text-lg font-extrabold cursor-pointer mt-4 text-[#001624] duration-200 border-b-4 border-transparent hover:border-[#001624]">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.2"
                     stroke="currentColor" class="relative -top-0.5 inline-block inherit w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                Clear search
            </div>
        </div>


        <div id="search-option" class="section bg-[#fff]  p-8 hidden mt-12">
            <div class="no-select text-2xl md:text-5xl text-inherit font-extrabold pb-3 border-b-4 border-gray-900 uppercase font-extrabold">
                Search Results
            </div>
            <div id="search-results-spawn" class="grid col-centered mt-4 grid-cols-12">

            </div>
        </div>
        <div id="default-option">
            <div class="text-[#001524] w-full mt-8">
                <div class="inline-block">
                    <label class="container mr-6">
                        <span class="relative text-lg -top-1">AB</span>
                        <input id="ab-checked" type="checkbox" checked="">
                        <span class="checkmark-2"></span>
                    </label>
                </div>
                <div class="inline-block">
                    <label class="container mr-6">
                        <span class="relative -top-1 text-lg">BC</span>
                        <input id="bc-checked" type="checkbox" checked="">
                        <span class="checkmark-2"></span>
                    </label>
                </div>
                <div class="inline-block">
                    <label class="container mr-6">
                        <span class="relative -top-1 text-lg">MB</span>
                        <input id="mb-checked" type="checkbox" checked="">
                        <span class="checkmark-2"></span>
                    </label>
                </div>
                <div class="inline-block">
                    <label class="container mr-6">
                        <span class="relative -top-1 text-lg">NB</span>
                        <input id="nb-checked" type="checkbox" checked="">
                        <span class="checkmark-2"></span>
                    </label>
                </div>
                <div class="inline-block">
                    <label class="container mr-6">
                        <span class="relative -top-1 text-lg">NL</span>
                        <input id="nl-checked" type="checkbox" checked="">
                        <span class="checkmark-2"></span>
                    </label>
                </div>
                <div class="inline-block">
                    <label class="container mr-6">
                        <span class="relative -top-1 text-lg">NT</span>
                        <input id="nt-checked" type="checkbox" checked="">
                        <span class="checkmark-2"></span>
                    </label>
                </div>
                <div class="inline-block">
                    <label class="container mr-6">
                        <span class="relative text-lg -top-1">NS</span>
                        <input id="ns-checked" type="checkbox" checked="">
                        <span class="checkmark-2"></span>
                    </label>
                </div>
                <div class="inline-block">
                    <label class="container mr-6">
                        <span class="relative -top-1 text-lg">NU</span>
                        <input id="nu-checked" type="checkbox" checked="">
                        <span class="checkmark-2"></span>
                    </label>
                </div>
                <div class="inline-block">
                    <label class="container mr-6">
                        <span class="relative -top-1 text-lg">ON</span>
                        <input id=on-checked" type="checkbox" checked="">
                        <span class="checkmark-2"></span>
                    </label>
                </div>
                <div class="inline-block">
                    <label class="container mr-6">
                        <span class="relative -top-1 text-lg">PE</span>
                        <input id="pe-checked" type="checkbox" checked="">
                        <span class="checkmark-2"></span>
                    </label>
                </div>
                <div class="inline-block">
                    <label class="container mr-6">
                        <span class="relative -top-1 text-lg">QC</span>
                        <input id="qc-checked" type="checkbox" checked="">
                        <span class="checkmark-2"></span>
                    </label>
                </div>
                <div class="inline-block">
                    <label class="container mr-6">
                        <span class="relative -top-1 text-lg">SK</span>
                        <input id="pg-checked" type="checkbox" checked="">
                        <span class="checkmark-2"></span>
                    </label>
                </div>
                <div class="inline-block">
                    <label class="container mr-6">
                        <span class="relative text-lg -top-1">YT</span>
                        <input id="yt-checked" type="checkbox" checked="">
                        <span class="checkmark-2"></span>
                    </label>
                </div>
                <div class="inline-block">
                    <label class="container mr-6">
                        <span class="relative text-lg -top-1">All</span>
                        <input id="all-checked" type="checkbox" checked="">
                        <span class="checkmark-2"></span>
                    </label>
                </div>
            </div>


            <div onclick="toggleSection('ab')"
                 class="relative mt-12 text-[#001624] w-full duration-200 cursor-pointer border-[#001624] border-b-4 p-3 rounded-none hover:text-[#001624] bg-transparent hover:bg-gray-200">
                <div class="no-select text-2xl md:text-5xl text-inherit font-extrabold">
                    <div class="w-10/12 select-none uppercase">Alberta</div>
                    <svg id="ab-caret" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         stroke-width="3.5" stroke="currentColor"
                         class="duration-200 text-[#001624] rotate-180 absolute right-2 top-3 md:top-4 float-right w-10 h-10 inline-block">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                    </svg>
                </div>
            </div>
            <div id="ab-section">
                <div class="w-full font-bold mt-8 text-xl">
                    <div class="grid col-centered grid-cols-12 pt-6 pb-6">
                        <!-- Org-objects will be generated here -->
                    </div>
                </div>
            </div>
            <div onclick="toggleSection('bc')"
                 class="relative mt-12 text-[#001624] w-full duration-200 cursor-pointer border-[#001624] border-b-4 p-3 rounded-none hover:text-[#001624] bg-transparent hover:bg-gray-200">
                <div class="no-select text-2xl md:text-5xl text-inherit font-extrabold">
                    <div class="w-10/12 select-none uppercase">British Columbia</div>
                    <svg id="bc-caret" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         stroke-width="3.5" stroke="currentColor"
                         class="duration-200 text-[#001624] rotate-180 absolute right-2 top-3 md:top-4 float-right w-10 h-10 inline-block">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                    </svg>
                </div>
            </div>
            <div id="bc-section">
                <div class="w-full font-bold mt-8 text-xl">
                    <div class="grid col-centered grid-cols-12 pt-6 pb-6">
                        <!-- Org-objects will be generated here -->
                    </div>
                </div>
            </div>
            <div onclick="toggleSection('mb')"
                 class="relative mt-12 text-[#001624] w-full duration-200 cursor-pointer border-[#001624] border-b-4 p-3 rounded-none hover:text-[#001624] bg-transparent hover:bg-gray-200">
                <div class="no-select text-2xl md:text-5xl text-inherit font-extrabold">
                    <div class="w-10/12 select-none uppercase">Manitoba</div>
                    <svg id="mb-caret" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         stroke-width="3.5" stroke="currentColor"
                         class="duration-200 text-[#001624] rotate-180 absolute right-2 top-3 md:top-4 float-right w-10 h-10 inline-block">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                    </svg>
                </div>
            </div>
            <div id="mb-section">
                <div class="w-full font-bold mt-8 text-xl">
                    <div class="grid col-centered grid-cols-12 pt-6 pb-6">
                        <!-- Org-objects will be generated here -->
                    </div>
                </div>
            </div>
            <div onclick="toggleSection('nb')"
                 class="relative mt-12 text-[#001624] w-full duration-200 cursor-pointer border-[#001624] border-b-4 p-3 rounded-none hover:text-[#001624] bg-transparent hover:bg-gray-200">
                <div class="no-select text-2xl md:text-5xl text-inherit font-extrabold">
                    <div class="w-10/12 select-none uppercase">New Brunswick</div>
                    <svg id="nb-caret" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         stroke-width="3.5" stroke="currentColor"
                         class="duration-200 text-[#001624] rotate-180 absolute right-2 top-3 md:top-4 float-right w-10 h-10 inline-block">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                    </svg>
                </div>
            </div>
            <div id="nb-section">
                <div class="w-full font-bold mt-8 text-xl">
                    <div class="grid col-centered grid-cols-12 pt-6 pb-6">
                        <!-- Org-objects will be generated here -->
                    </div>
                </div>
            </div>
            <div onclick="toggleSection('nl')"
                 class="relative mt-12 text-[#001624] w-full duration-200 cursor-pointer border-[#001624] border-b-4 p-3 rounded-none hover:text-[#001624] bg-transparent hover:bg-gray-200">
                <div class="no-select text-2xl md:text-5xl text-inherit font-extrabold">
                    <div class="w-10/12 select-none uppercase">Newfoundland and Labrador</div>
                    <svg id="nl-caret" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         stroke-width="3.5" stroke="currentColor"
                         class="duration-200 text-[#001624] rotate-180 absolute right-2 top-3 md:top-4 float-right w-10 h-10 inline-block">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                    </svg>
                </div>
            </div>
            <div id="nl-section">
                <div class="w-full font-bold mt-8 text-xl">
                    <div class="grid col-centered grid-cols-12 pt-6 pb-6">
                        <!-- Org-objects will be generated here -->
                    </div>
                </div>
            </div>
            <div onclick="toggleSection('nt')"
                 class="relative mt-12 text-[#001624] w-full duration-200 cursor-pointer border-[#001624] border-b-4 p-3 rounded-none hover:text-[#001624] bg-transparent hover:bg-gray-200">
                <div class="no-select text-2xl md:text-5xl text-inherit font-extrabold">
                    <div class="w-10/12 select-none uppercase">Northwest Territories</div>
                    <svg id="nt-caret" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         stroke-width="3.5" stroke="currentColor"
                         class="duration-200 text-[#001624] rotate-180 absolute right-2 top-3 md:top-4 float-right w-10 h-10 inline-block">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                    </svg>
                </div>
            </div>
            <div id="nt-section">
                <div class="w-full font-bold mt-8 text-xl">
                    <div class="grid col-centered grid-cols-12 pt-6 pb-6">
                        <!-- Org-objects will be generated here -->
                    </div>
                </div>
            </div>
            <div onclick="toggleSection('ns')"
                 class="relative mt-12 text-[#001624] w-full duration-200 cursor-pointer border-[#001624] border-b-4 p-3 rounded-none hover:text-[#001624] bg-transparent hover:bg-gray-200">
                <div class="no-select text-2xl md:text-5xl text-inherit font-extrabold">
                    <div class="w-10/12 select-none uppercase">Nova Scotia</div>
                    <svg id="ns-caret" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         stroke-width="3.5" stroke="currentColor"
                         class="duration-200 text-[#001624] rotate-180 absolute right-2 top-3 md:top-4 float-right w-10 h-10 inline-block">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                    </svg>
                </div>
            </div>
            <div id="ns-section">
                <div class="w-full font-bold mt-8 text-xl">
                    <div class="grid col-centered grid-cols-12 pt-6 pb-6">
                        <!-- Org-objects will be generated here -->
                    </div>
                </div>
            </div>
            <div onclick="toggleSection('nu')"
                 class="relative mt-12 text-[#001624] w-full duration-200 cursor-pointer border-[#001624] border-b-4 p-3 rounded-none hover:text-[#001624] bg-transparent hover:bg-gray-200">
                <div class="no-select text-2xl md:text-5xl text-inherit font-extrabold">
                    <div class="w-10/12 select-none uppercase">Nunavut</div>
                    <svg id="nu-caret" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         stroke-width="3.5" stroke="currentColor"
                         class="duration-200 text-[#001624] rotate-180 absolute right-2 top-3 md:top-4 float-right w-10 h-10 inline-block">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                    </svg>
                </div>
            </div>
            <div id="nu-section">
                <div class="w-full font-bold mt-8 text-xl">
                    <div class="grid col-centered grid-cols-12 pt-6 pb-6">
                        <!-- Org-objects will be generated here -->
                    </div>
                </div>
            </div>
            <div onclick="toggleSection('on')"
                 class="relative mt-12 text-[#001624] w-full duration-200 cursor-pointer border-[#001624] border-b-4 p-3 rounded-none hover:text-[#001624] bg-transparent hover:bg-gray-200">
                <div class="no-select text-2xl md:text-5xl text-inherit font-extrabold">
                    <div class="w-10/12 select-none uppercase">Ontario</div>
                    <svg id="on-caret" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         stroke-width="3.5" stroke="currentColor"
                         class="duration-200 text-[#001624] rotate-180 absolute right-2 top-3 md:top-4 float-right w-10 h-10 inline-block">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                    </svg>
                </div>
            </div>
            <div id="on-section">
                <div class="w-full font-bold mt-8 text-xl">
                    <div class="grid col-centered grid-cols-12 pt-6 pb-6">
                        <!-- Org-objects will be generated here -->
                    </div>
                </div>
            </div>
            <div onclick="toggleSection('pe')"
                 class="relative mt-12 text-[#001624] w-full duration-200 cursor-pointer border-[#001624] border-b-4 p-3 rounded-none hover:text-[#001624] bg-transparent hover:bg-gray-200">
                <div class="no-select text-2xl md:text-5xl text-inherit font-extrabold">
                    <div class="w-10/12 select-none uppercase">Prince Edward Island</div>
                    <svg id="pe-caret" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         stroke-width="3.5" stroke="currentColor"
                         class="duration-200 text-[#001624] rotate-180 absolute right-2 top-3 md:top-4 float-right w-10 h-10 inline-block">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                    </svg>
                </div>
            </div>
            <div id="pe-section">
                <div class="w-full font-bold mt-8 text-xl">
                    <div class="grid col-centered grid-cols-12 pt-6 pb-6">
                        <!-- Org-objects will be generated here -->
                    </div>
                </div>
            </div>
            <div onclick="toggleSection('qc')"
                 class="relative mt-12 text-[#001624] w-full duration-200 cursor-pointer border-[#001624] border-b-4 p-3 rounded-none hover:text-[#001624] bg-transparent hover:bg-gray-200">
                <div class="no-select text-2xl md:text-5xl text-inherit font-extrabold">
                    <div class="w-10/12 select-none uppercase">Quebec</div>
                    <svg id="qc-caret" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         stroke-width="3.5" stroke="currentColor"
                         class="duration-200 text-[#001624] rotate-180 absolute right-2 top-3 md:top-4 float-right w-10 h-10 inline-block">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                    </svg>
                </div>
            </div>
            <div id="qc-section">
                <div class="w-full font-bold mt-8 text-xl">
                    <div class="grid col-centered grid-cols-12 pt-6 pb-6">
                        <!-- Org-objects will be generated here -->
                    </div>
                </div>
            </div>
            <div onclick="toggleSection('sk')"
                 class="relative mt-12 text-[#001624] w-full duration-200 cursor-pointer border-[#001624] border-b-4 p-3 rounded-none hover:text-[#001624] bg-transparent hover:bg-gray-200">
                <div class="no-select text-2xl md:text-5xl text-inherit font-extrabold">
                    <div class="w-10/12 select-none uppercase">Saskatchewan</div>
                    <svg id="sk-caret" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         stroke-width="3.5" stroke="currentColor"
                         class="duration-200 text-[#001624] rotate-180 absolute right-2 top-3 md:top-4 float-right w-10 h-10 inline-block">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                    </svg>
                </div>
            </div>
            <div id="sk-section">
                <div class="w-full font-bold mt-8 text-xl">
                    <div class="grid col-centered grid-cols-12 pt-6 pb-6">
                        <!-- Org-objects will be generated here -->
                    </div>
                </div>
            </div>
            <div onclick="toggleSection('yt')"
                 class="relative mt-12 text-[#001624] w-full duration-200 cursor-pointer border-[#001624] border-b-4 p-3 rounded-none hover:text-[#001624] bg-transparent hover:bg-gray-200">
                <div class="no-select text-2xl md:text-5xl text-inherit font-extrabold">
                    <div class="w-10/12 select-none uppercase">Yukon</div>
                    <svg id="yt-caret" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         stroke-width="3.5" stroke="currentColor"
                         class="duration-200 text-[#001624] rotate-180 absolute right-2 top-3 md:top-4 float-right w-10 h-10 inline-block">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                    </svg>
                </div>
            </div>
            <div id="yt-section">
                <div class="w-full font-bold mt-8 text-xl">
                    <div class="grid col-centered grid-cols-12 pt-6 pb-6">
                        <!-- Org-objects will be generated here -->
                    </div>
                </div>
            </div>

        </div>

    </div>
    </div>
</div>

<main class="mx-auto p-6 bg-white shadow-md rounded-lg mt-6">

    <h1 class="text-3xl font-bold mb-4">Search Orgs</h1>
    <p class="text-gray-700 mb-4">If you are seeking pro-choice reproductive support, you may want to avoid
        organizations listed in the AntiChoice Canada website.
        Click to learn more about an organization or charity's known affiliations, anti-choice messaging, and previous
        campaigns.</p>
    <h1 class="text-2xl font-bold mb-6">CPC Data Table</h1>


    <h1 class="text-3xl font-bold mb-4">Welcome to the Crisis Pregnancy Centers Directory</h1>
    <p class="text-gray-700 mb-4">Browse our list of crisis pregnancy centers and learn more about each
        organization.</p>
    <h1 class="text-2xl font-bold mb-6">CPC Data Table</h1>

    <!-- Table to display CPC data -->
    <div class="table-container">
        <table class="table-auto w-full bg-white shadow-md rounded">
            <thead>
            <tr class="bg-gray-800 text-white">
                <th class="px-4 py-2">Name</th>
                <th class="px-4 py-2">Is Charity</th>
                <th class="px-4 py-2">Charity Number</th>
                <th class="px-4 py-2">Charity Type</th>
                <th class="px-4 py-2">Organization Type</th>
                <th class="px-4 py-2">Affiliate Of</th>
                <th class="px-4 py-2">City</th>
                <th class="px-4 py-2">Province</th>
                <th class="px-4 py-2">Other Names</th>
                <th class="px-4 py-2">Websites</th>
                <th class="px-4 py-2">Sex Ed Programs</th>
                <!--            <th class="px-4 py-2">Description</th>-->
            </tr>
            </thead>
            <tbody id="table-body">
            <!-- Rows will be generated dynamically here -->
            </tbody>
        </table>
    </div>
</main>

<!-- JavaScript for toggling the mobile menu -->
<script>
    const mobileMenuButton = document.getElementById('mobile-menu-button');
    const mobileMenu = document.getElementById('mobile-menu');

    mobileMenuButton.addEventListener('click', () => {
        console.log("mobile menu cilck");
        const isExpanded = mobileMenuButton.getAttribute('aria-expanded') === 'true';
        mobileMenuButton.setAttribute('aria-expanded', !isExpanded);
        mobileMenu.classList.toggle('hidden');
    });
</script>
<script src="./cpcs.json"></script>
<script>
    function toggleSection(section) {
        const sectionElement = document.getElementById(section + '-section');
        const caretElement = document.getElementById(section + '-caret');

        if (!sectionElement.classList.contains('hidden')) {
            sectionElement.classList.add('hidden');
            caretElement.classList.remove('rotate-180');
        } else {
            sectionElement.classList.remove('hidden');
            caretElement.classList.add('rotate-180');
        }
    }
</script>

<script>
    // Load JSON data and populate each province section with org-objects
    fetch('./cpcs.json')
        .then(response => response.json())
        .then(data => {
            const sections = {}; // To track if any orgs have been added to each section

            data.forEach(cpc => {
                // Determine the correct section based on the province
                const sectionId = `${cpc.province.toLowerCase()}-section`;
                const section = document.getElementById(sectionId);

                if (section) {
                    // Track that this section has at least one organization
                    sections[sectionId] = true;

                    // Create an org-object element with name, city, and province
                    const orgObject = document.createElement('span');
                    orgObject.classList.add('col-span-12', 'mt-4', 'md:col-span-6', 'xl:col-span-4', 'px-2');
                    orgObject.innerHTML = `
                        <span class="org-object">
                            <span>${cpc.name}</span>
                            <span class="text-lg block font-extralight">${cpc.city}, ${cpc.province}</span>
                        </span>
                    `;

                    // Append the org-object to the section
                    section.querySelector('.grid').appendChild(orgObject);
                }
            });

            // Check each province section and display a message if empty
            document.querySelectorAll('[id$="-section"]').forEach(section => {
                if (!sections[section.id]) {
                    // Display the no-organizations message
                    const message = document.createElement('div');
                    message.classList.add('text-lg', 'block', 'font-extralight', 'text-center', 'mt-4');
                    message.textContent = "No known organizations. If you think this is a mistake, please let us know.";
                    section.appendChild(message);
                }
            });
        })
        .catch(error => console.error('Error loading JSON data:', error));
</script>


<script>
    // Load the JSON data and render the table
    fetch('./cpcs.json')
        .then(response => response.json())
        .then(data => {
            const tableBody = document.getElementById('table-body');

            data.forEach(cpc => {
                // Create a table row
                const row = document.createElement('tr');
                row.classList.add('border-b');

                // Add data to each cell in the row using JavaScript template literals
                row.innerHTML = `
                    <td class="px-4 py-2">
                        <a href="/${cpc.slug}" class="text-blue-500 hover:underline">${cpc.name}</a>
                    </td>
                    <td class="px-4 py-2">${cpc.is_charity}</td>
                    <td class="px-4 py-2">${cpc.charity_num}</td>
                    <td class="px-4 py-2">${cpc.charity_type}</td>
                    <td class="px-4 py-2">${cpc.org_type}</td>
                    <td class="px-4 py-2">${cpc.affiliate_of}</td>
                    <td class="px-4 py-2">${cpc.city}</td>
                    <td class="px-4 py-2">${cpc.province}</td>
                    <td class="px-4 py-2">${cpc.other_names}</td>
                    <td class="px-4 py-2">${cpc.website.join('\n ')}</td>
                    <td class="px-4 py-2">${cpc.sex_ed_programs}</td>
                `;

                // Append the row to the table body
                tableBody.appendChild(row);
            });
        })
        .catch(error => console.error('Error loading JSON data:', error));
</script>


</body>
</html>
