<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About antichoice.ca</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="bg-gray-100 text-gray-900">

<!-- Include Navbar Partial -->
<%- include('../partials/navbar') %>

<main class="max-w-4xl mx-auto p-6 bg-white shadow-md rounded-lg mt-6">
    <h1 class="text-gray-700 mb-4">About</h1>
    <p class="text-gray-700 mb-4">From the Government of Canada website:</p>

    <blockquote class="border-l-4 border-gray-300 pl-4 text-gray-700 italic mb-4 space-y-4">
        <p>
            Registered charities are provided federal, as well as provincial or territorial, supports under the tax system that
            includes an exemption from income tax and the ability to issue official donation receipts for any gifts that they receive.
            In return, all registered charities are expected to follow the rules and principles set out in the Income Tax Act
            to ensure that they are operating for charitable purposes and providing activities for the benefit of the public.
        </p>

        <p>
            Concerns have been raised that some registered charities that offer reproductive health services to women,
            including pregnancy options counselling, may be spreading misinformation by presenting themselves as neutral,
            full-service pregnancy support service organizations when they are in fact anti-choice organizations that push women
            away from accessing the reproductive care of their choice.
        </p>
    </blockquote>


    <p class="text-gray-700 mb-4">
        Read the full Backgrounder at <a href="https://www.canada.ca/en/department-finance/news/2024/10/protecting-reproductive-freedom-by-preventing-abuse-of-charitable-status.html"
           class="text-blue-500 hover:underline">canada.ca</a>
    </p>

    <h1 class="text-gray-700 mb-4">antichoice.ca</h1>
    <p class="text-gray-700 mb-4">
        This website is not affiliated with the Abortion Rights Coalition of Canada (ARCC) nor any other organization, government or otherwise.
        It simply aims to provide searchable information about anti-choice organizations and uses the publicly available data from this
        document: <a href="https://www.arcc-cdac.ca/media/2021/06/list-anti-choice-groups.pdf" class="text-blue-500 hover:underline">arcc-cdac.ca</a>
    </p>
</main>

<footer class="bg-gray-800 text-white text-center p-4 mt-6">
    <p>&copy; 2024 antichoice.ca</p>
</footer>

</body>
</html>
